<div class="container">
  <div class="row">
    <h3>Details</h3>
  </div>

  <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-inline">
                              <label class="col-sm-2 col-form-label">Name:</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="first_name" [(ngModel)]="user.first_name">
                              </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-inline">
                                <label class="col-sm-2 col-form-label">last_name:</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="last_name" [(ngModel)]="user.last_name">
                                </div>
                              </div>
                          </div>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col-6">
                            <div class="form-inline">
                                <label class="col-sm-2 col-form-label">email:</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="email" [(ngModel)]="user.email">
                                </div>
                              </div>
                          </div>
                          <div class="col-6">
                              <div class="form-inline">
                                  <label class="col-sm-2 col-form-label">gender:</label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" name="gender" [(ngModel)]="user.gender">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-4"></div>
                          <div class="col-4">
                            <button type="button" class="btn btn-primary" (click)="createOrUpdate()">Save</button>
                            <button type="button" class="btn btn-danger" routerLink="/users">Cancel</button>
                          </div>
                          <div class="col-4"></div>
                        </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>