<div class="row">
  <div class="col">
    <button type="button" class="btn btn-success" routerLink="/user-details/new">Add</button>
  </div>
</div>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">phone</th>
      <th scope="col">username</th>
      <th scope="col">website</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td><a routerLink="/user-details/{{user.id}}">{{ user.first_name }}</a></td>
      <td>{{user.last_name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.gender}}</td>
    </tr>
  </tbody>
</table>